/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * NOTE!!!! To make this work on tablet, detectizr has been set so that 
 * tablet class gets replaced with desktop class so that we do not need
 * to add duplicate classes for both desktop and tablet.
 * Originally: "tv","tablet","mobile","desktop"
 * Changed to: "tv","desktop","mobile","desktop"
 */

html,
button,
input,
select,
textarea {
    color: #222;
}
 
html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: transparent;
    text-shadow: none;
}

::selection {
    background: transparent;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* colours:

med-navy    #004b87
dark-navy   #002554
dark-blue   #0085ca
med-blue    #00a9e0
light-blue  #71c5e8
faded-blue  #b9d9eb
orange      #f7a800

*/


/* ==========================================================================
   The REAL Styles... not the guy from Teen Wolf
   ========================================================================== */

// @font-face {
//   font-family: "Effra Lt";
//   src: url("../fonts/Effra_Lt.ttf");
// }


// @font-face {
//   font-family: "Effra Reg";
//   src: url("../fonts/Effra_Rg.ttf");
// }

// @font-face {
//   font-family: "Effra Bold";
//   src: url("../fonts/Effra_Bd.ttf");
// }

// @font-face {
//   font-family: "Effra Med";
//   src: url("../fonts/Effra_Md.ttf");
// }

// @font-face {
//   font-family: "Effra It";
//   src: url("../fonts/Effra_It.ttf");
// }

html, body {
    height: 100%;
    font-size: 16px; /* Set a base size and specify as % elsewhere i.e. 12px = 12/16 = 75% */
}

body, p, h1, h2, h3, h4, ul, li {
    font-family: 'Poly', serif;
}
/* ==========================================================================
    foundation overrides because you can't always get what you want...
   ========================================================================== */

.move-right > .inner-wrap {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate(100%, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.left-off-canvas-menu {
    width: 100%;
    overflow: hidden;
}

.move-right .exit-off-canvas {
    background: none;
}

a.exit-off-canvas span, .close-responses {
    color: #004b87;
    font-size: 2em;
    border: 2px solid;
    position: absolute;
    right: 3%;
    top: 11%;
    padding: 0% 3% 1% 3%;
    margin: 0;
    background-color: #FFF;
    font-size: 1.8em;
    -webkit-transition:background-color 0.1s linear;
    -o-transition:background-color 0.1s linear;
    -moz-transition:background-color 0.1s linear;
    transition:background-color 0.1s linear;
}

a.exit-off-canvas { 
    padding: 0;
}

a.exit-off-canvas:active span, .close-responses {
    background-color: #004b87;
    border-color: #004b87;
    color: #fff;
}


.left-off-canvas-menu {
    background: #fff;
}

.left-off-canvas-menu .exit-off-canvas {
    height: 9%;
    display: block;
    background: #FFF;
    overflow: hidden;
    position: absolute;
}

.off-canvas-wrap {
    height: 100%;
    background: #fff;
}

.off-canvas-wrap.move-right {
    height: 500px;
    overflow: hidden;
}



.inner-wrap {
    height: 100%;
}

h3 {
    font-style: italic;
}

.track {
    position: relative;
    width: 800px;

    .track-data {
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        width: 500px;
        height: 100%;
        top: 0;
        left: 0;
        transition: 200ms all ease-out;

        .track-data-items {
            transition: 200ms all ease-out;
            padding-top: 430px;
            padding-left: 20px;

            h3 {
                color: #fff;
                transition: 200ms all ease-out;
            }
        }

        &.playing {
            background-color: rgba(0,0,0,0);
            
            .track-data-items {
                transform: translateX(500px);

                h3 {
                    color: #000;
                }
            }    
        }


    }
}


/* ==========================================================================
   Importing Partials
   ========================================================================== */

@import '_responsive';
