/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * NOTE!!!! To make this work on tablet, detectizr has been set so that 
 * tablet class gets replaced with desktop class so that we do not need
 * to add duplicate classes for both desktop and tablet.
 * Originally: "tv","tablet","mobile","desktop"
 * Changed to: "tv","desktop","mobile","desktop"
 */

html,
button,
input,
select,
textarea {
    color: #000;
}
 
html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    padding: 0;
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: transparent;
    text-shadow: none;
}

::selection {
    background: transparent;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@font-face {
    font-family: 'Medio';
    src:url('../fonts/Medio.ttf.woff') format('woff'),
        url('../fonts/Medio.ttf.svg#Medio') format('svg'),
        url('../fonts/Medio.ttf.eot'),
        url('../fonts/Medio.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

a, a:link, a:visited {
    color: #fff;
}

a:hover, a:active {
    color: coral;
}

html, body {
    font-size: 16px; /* Set a base size and specify as % elsewhere i.e. 12px = 12/16 = 75% */
}

body, p {
    font-family: 'Poly', serif;
}

p.special{
    margin: 3em 0;
    font-size: 120%;
    &::first-letter {
        font-family: 'Medio', serif;
        font-size: 200%;
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        line-height: 20px;
    }
}

h1, h2, h3, h4, ul, li {
    font-family: 'Poly', serif;
}

.internal {
    // .header-wrapper,
    // .track-thumbs,
    // .tracks-content-wrapper,
    // .main-content,
    // footer .footer-content {
    //     max-width: 800px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }

    h4 {
        margin-top: 1.5em;
    }
}

.header-wrapper,
.track-thumbs,
.tracks-content-wrapper,
.main-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    margin-top: 2em;
    .content {
        padding: 0 1em;

        h4 {
            font-size: 110%;
            margin-bottom: 0;
            font-family: 'Medio', serif;
            text-transform: uppercase;
        }
    }
    .images {
        text-align: center;

        h4 {
            text-align: left;
            margin-top: 0;
        }

        .photo {
            margin-bottom: 1em;

            img {
                width: 100%;
            }

            p {
                font-size: 70%;
                text-align: left;
            }
        }

        
    }
}

header {

    background-color: #000;
    padding: 0.5em;
    margin-bottom: 0;
    color: #fff;

    .header-part {
        display: inline-block;
        text-align: center;
        position: relative;
        padding: 0.5em 0;
        width: 100%;

        &:nth-child(2) {
            background-color: #222;
        }

        .controls-content {
            font-size: 175%;
        }

        .powered-by {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%) scale(0.7);
            transform-origin: 100% 50%;
        }

        .social-links {
            display: inline-block;
            margin: 0 1em;
        }

        .text-links, 
        .social-links {
            font-size: 120%;
        }
    }

    h1 {
        display: inline-block;
        font-size: 140%;
        color: #fff;
        margin: 0;
        padding-right: 0.5em;
    }

    a {
        color: #fff;
        font-size: 90%;

        &.disabled {
            opacity: 0.5;
        }
    }

    h1, a {
        font-family: 'Medio', serif;
        text-transform: uppercase;
    }
}

.internal {
    header {
        .header-part {
            h1 { 
                font-size: 110%;
            }

            a {
                font-size: 110%;
            }
        }
        
    }

    .spacing {
        display: none;
    }
}

.progress-bar {
    width: 100%;
    background-color: #eee;
    position: relative;
    margin-bottom: 0;
    height: 10px;
    box-shadow: 0 0px 18px;

    .progress {
        width:0;
        border: none;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #bbb;
        transition: width 500ms linear;
    }

    .scrubber {
        width:3px;
        height: 10px;
        background-color: #000;
        position: absolute;
        top:0;
        left: 0;
        transform: translateX(2px);
        transition: all 500ms linear;
    }
}

.track-thumbs {
    display: none;
}


$track-width: 100%;

.tracks-content-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;

    #tracks-content {
        width: 800%;
        position: relative;
        overflow: hidden;
        transition: all 600ms cubic-bezier(0.29, 0.49, 0, 1);
        -webkit-backface-visibility: hidden;
        transform:  translateZ(0);

        &.touch-moving {
            transition: none;
        }

        &.track-2 {
            transform: translateX(-($track-width/8)) translateZ(0);
        }

        &.track-3 {
            transform: translateX(-(2 * ($track-width/8))) translateZ(0);
        }

        &.track-4 {
            transform: translateX(-(3 * ($track-width/8))) translateZ(0);
        }

        &.track-5 {
            transform: translateX(-(4 * ($track-width/8))) translateZ(0);
        }

        &.track-6 {
            transform: translateX(-(5 * ($track-width/8))) translateZ(0);
        }

        &.track-7 {
            transform: translateX(-(6 * ($track-width/8))) translateZ(0);
        }

        &.track-8 {
            transform: translateX(-(7 * ($track-width/8))) translateZ(0);
        }
    }
}

x-gif {
    position: absolute;
    top: 0;
    left: 0;
}

.track {
    position: absolute;
    top: 0;
    left: 0;
    width: $track-width/8;
    display: inline-block;
    vertical-align:top;

    .gif-wrap {
        display:inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        vertical-align:top;
        width: 100%;

        .load-indicator {
            width: 100%;
            min-height: 160px;
            position: absolute;
            background-color: #eee;
            color: #ccc;
            display: table;
            text-align: center;

            .loading {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                font-size: 130%;

            }
        }

        img.gif-placeholder {
            width: 100%;
            visibility: hidden;
        }

        .soundcloud-link {
            position: absolute;
            bottom: -20px;
            right: 10px;
            z-index: 99;
        }

        .buy-track-link, 
        .buy-album-link {
            position: absolute;
            bottom: -22px;
            z-index: 99;
            font-family: 'Medio', serif;
            text-transform: uppercase;
            color: #000;
            font-size: 75%;
        }

        .buy-track-link {
            left: 10px;
        }

        .buy-album-link {
            left: 90px;
        }
    }
    
    &:nth-child(2) {
        transform: translateX($track-width);
    }

    &:nth-child(3) {
        transform: translateX(2 * $track-width);
    }

    &:nth-child(4) {
        transform: translateX(3 * $track-width);
    }

    &:nth-child(5) {
        transform: translateX(4 * $track-width);
    }

    &:nth-child(6) {
        transform: translateX(5 * $track-width);
    }

    &:nth-child(7) {
        transform: translateX(6 * $track-width);
    }

    &:nth-child(8) {
        transform: translateX(7 * $track-width);
    }

    .track-data {
        width: 100%;
        margin: 1em 0;
        padding: 0 1em;
        display: inline-block;
        vertical-align: top;
        opacity: 0;
        transform: translateY(100px);
        transition: 1000ms all cubic-bezier(0.29, 0.49, 0, 1);

        .track-data-items {

            padding: 1em 0;

            h3 {
                margin: 0;
                line-height: 1;
                font-family: 'Medio', serif;
                text-transform: uppercase;
            }

            p.track-time {
                margin-top: 0;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    margin-bottom: 0.5em;
                }
            }
        }

    }

    &.current {
        .track-data {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

footer {
    background-color: #666;
    color: #fff;
    margin-top: 8em;
    padding: 2em 0;

    .footer-content {
        padding: 0 1em;
        max-width: 960px;
        margin: 0 auto;

        p {
            font-size: 80%;

        }
    }
}


@media only screen and (min-width: 569px) {
    header {
        .header-wrapper {

            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-pack: justify;
            -moz-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: start;
            -moz-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;

        }

        .header-part {
            // width: 38%;
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            border-right: 1px solid #ccc;
            -webkit-align-self: stretch;
            -ms-flex-item-align: stretch;
            align-self: stretch;

            &:nth-child(1) {
                -webkit-box-flex: 2;
                -moz-box-flex: 2;
                -webkit-flex: 2 1 auto;
                -ms-flex: 2 1 auto;
                flex: 2 1 auto;
                
            }

            &:nth-child(2) {
                
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                background-color: #000;
            }

            &:last-child {
                border-right: none;
                -webkit-box-flex: 2;
                -moz-box-flex: 2;
                -webkit-flex: 2 1 auto;
                -ms-flex: 2 1 auto;
                flex: 2 1 auto;

                a {
                    font-size: 80%;
                }

                .text-links {
                    position: relative;
                    top: 2px;
                    font-size: 100%;
                }

                .social-links {
                    font-size: 100%;
                    margin: 0;
                    a { 
                        font-size: 120%;
                    }
                    
                }
            }

            h1 {
                font-size: 96%;
            }
            
            .controls-wrapper {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-direction: normal;
                -moz-box-direction: normal;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-box-pack: center;
                -moz-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-content: flex-start;
                -ms-flex-line-pack: start;
                align-content: flex-start;
                -webkit-box-align: start;
                -moz-box-align: start;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start;
            }

            .controls-content {
                -webkit-box-ordinal-group: 1;
                -moz-box-ordinal-group: 1;
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-align-self: center;
                -ms-flex-item-align: center;
                align-self: center;

                font-size: 100%;
            }
            

            .powered-by {
                position: relative;
                left: 0;
                top: 0;
                margin-left: 0.5em;


                img {
                    transform: scale(0.8);
                }
            }
        }
    }

    .internal {
        header {
            .header-part {
                a {
                    font-size: 110%;
                    line-height: 120%;
                }

                &:nth-child(1) {
                    text-align: left;
                }

                &:nth-child(2) {
                    text-align: right;
                }
            }
        }

        .spacing {
            display: block;
        }

        .main-content {
            margin-top: 2em;
            .content {
                width: 70%;
                display: inline-block;
            }
            .images {
                width: 29%;
                vertical-align: top;
                display: inline-block;
            }
        }
    }

    .track-thumbs {
        margin: 1em auto;
        padding: 0 1em;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;

        img {
            width: 10%;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
            opacity: 0.3;
            transition: opacity 250ms ease-out;
            border-radius: 50%;
            cursor: pointer;

            &.current {
                opacity: 1;
            }

            &:hover {
                opacity: 0.6;
            }
        }

    }

    .tracks-content-wrapper {
        margin: 2em auto;
        #tracks-content {
            // min-height: 64vw;
        }
    }

    .track {
        padding: 0 1em;
        .gif-wrap {
            width: 60%;

            .load-indicator {
                min-height: 200px;
            }
        }

        .track-data {
            width: 39%;
            margin: 0;
            padding: 0;

            .track-data-items {
                padding: 0 0 0 1em;

                p, h3 {
                    width: calc(100% - 1em);
                }
            }
        }
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    .track-thumbs {
        display: none;
    }
}


/* ==========================================================================
   Importing Partials
   ========================================================================== */

@import '_responsive';
